body{
    width: 99%;
    height: 100%;
    clear: both;
    margin: auto;
    background-image: url(../img/RC_IF_FONDO.png);
    background-size: repeat;
}

#logo {
    width: 125px;
}

#contenido{
    width: 800px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 40px;
    margin: 50px auto;
    border: 2px solid #d9d9d9;
}

#contenido h2{
    text-align: center;
    background-color:#333;
    color: #ffffff;
    width: 93%;
    border-radius:3px;
}

#nombre,#apellido_paterno,#apellido_materno,#contrasena,#contrasena_confirmacion,#correo{
    width: 90%;
    height: 28px;
    margin: 2%;
    border-bottom: 1px solid darkorange;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-top: 20px;
}

#btn,#btndos{
    background-color: transparent;
    border: 1px solid darkorange;
    border-radius: 3px;
    background-color: #fff;
    color: darkorange;
    margin-top: 30px;
    padding: 3px;
}

@media(max-width:550px){
    #contenido{
        width: 94%;
        height: auto;
        background-color: #fff;
        border-radius: 0px;
        padding: 10px;
        margin: 0px auto;
        border: 0px solid #d9d9d9;
    }
}