html, body{
    font-family: 'Roboto-Regular';
    font-size: 100%;
    background: url(../img/RC_IF_FONDO.png)repeat 0px 0px;

}
body a {
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
    font-family: 'Roboto-Regular';
}
body a:hover,h5.top a:hover,.b-text h5 a:hover,.b-bottom-text h5 a:hover,.b-text h6 a:hover,.b-bottom-text h6 a:hover{
    color:#ffcc00;

}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf)format('truetype');
}
@font-face {
    font-family: 'Bitter-Regular';
    src: url(../fonts/Bitter-Regular.ttf)format('truetype');
}
.container {
    padding:4em 1em;
    background-color: #fff;
}