                    #body{
                        width: 99%;
                        height: 100%;
                        clear: both;
                        margin: auto;
                        background-image: url(img/RC_IF_TEAM_BG.jpg);
                        background-size: cover;
                    }
                    .form{
                        width: 500px;
                        height: 410px;
                        background-color: #fff;
                        border-radius: 10px;
                        padding: 20px;
                        margin-top: 40px;
                        box-shadow: 5px 5px 15px #333;
                    }
                    #Categoria,#Torneos,#Equipo{
                        width: 90%;
                        height: 28px;
                        margin: 2%;
                        border-bottom: 1px solid darkorange;
                        border-top: 0px;
                        border-left: 0px;
                        border-right: 0px;
                        margin-top: 20px;
                    }
                    #btn-submitdos{
                        background-color: transparent;
                        border: 1px solid darkorange;
                        border-radius: 3px;
                        background-color: #fff;
                        color: darkorange;
                        margin-top: 30px;
                        padding: 3px;
                    }
                    @media(max-width:550px){
                        #body{
                            width: 100%;
                        }
                        .form{
                            width: 100%;
                            height: 410px;
                            margin-top: 20px;
                            margin-bottom: 30px;
                        }
                    }