html, body{
    font-family: 'Roboto-Regular';
    font-size: 100%;
    background: url(../img/RC_IF_FONDO.png)repeat 0px 0px;

}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf)format('truetype');
}
@font-face {
    font-family: 'Bitter-Regular';
    src: url(../fonts/Bitter-Regular.ttf)format('truetype');
}
.bs-example {
    padding:1em 4em;
    background-color: #fff;
}