        body{font-family: 'Roboto', sans-serif;
            /*font-family: 'Noto Sans', sans-serif;*/}
        #body{
            width: 99%;
            height: 100%;
            clear: both;
            margin: auto;
            background-color: #fff;
            background-image: url(../img/RC_IF_FONDO.png);
            background-size: repeat;
        }
        .form{
            width: 500px;
            height: auto;
            background-color: #fff;
            border-radius: 10px;
            padding: 3px;
            margin-top: 40px;
            box-shadow: 5px 5px 15px #333;
        }
        #nombre_torneo,#fecha_cierre_convocatoria,#fecha_inicio_torneo,#fecha_fin_torneo,#categoria,#imagen{
            width: 90%;
            height: 28px;
            margin: 2%;
            border-bottom: 1px solid darkorange;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            margin-top: 20px;
        }
        #imagen{
            border: 0px;
        }
        #convo {
        text-align: center;
        background-color:#333;
        color:#ffffff;
        width:93%;
        border-radius:3px;
        }
        #logo {
            text-decoration:none;
        }
        #logoimg {
        height: 125px;
        width: 125px;
        }

        @media(max-width:550px){
            .form{
                width: 95%;
                height: auto;
                margin-top: 20px;
                margin-bottom: 30px;
            }
        }